.container{
    width: 320px;
    margin-bottom: 45px;
    cursor: pointer;
}

.container img{
    width: 100%;
    height: 202px;
    background-color: #999;
    object-fit: cover;
}

.details{
    display: flex;
    margin-top: 1em;
    gap: 12px;
}

.details img{
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background-color: #999;
}

.details  h1{
    font-size: 1em;
    font-weight: 500;
    color: var(--white-color);
}

.details h2{
    font-size: 14px;
    color: #999;
    margin: 5px 0px;
    font-weight: 500;
}

.info{
    color: #999;
    font-size: 0.8em;
}

@media (max-width:990px){
    .container{
        width: 250px;
    }
    .container img{
        width: 100%;
        height: 100px;
        background-color: #999;
        object-fit: cover;
    }
}
@media (max-width:990px){
    .container{
        width: 100%;
    }
    .container img{
        width: 100%;
        height: 200px;
        background-color: #999;
        object-fit: cover;
    }
}
@media (max-width:550px){
    .container{
        width: 100%;
    }
    .container img{
        width: 100%;
        height: 100px;
        background-color: #999;
        object-fit: cover;
    }
}