.container{
    display: flex;
}

.main{
    flex: 7;
    background-color: var(--bg-color);
}

.wrapper{
    padding: 22px 96px;
}
@media (max-width:550px){
    .wrapper{
        padding: 15px 30px;
    }
}